html {
    font-family: Arial, Helvetica, sans-serif;
    color: #cecece;
    background-color: #404040;
}
/*when the page shrinks the content boxes wrap down to the next line.*/
main {
    display: flex;
    flex-wrap: wrap;
}

header, footer {
    text-align: center;
}
/*Fix all the code snippets to look the same*/
.code {
    flex-wrap: wrap;
    display: block;
    border: 50px solid teal;
    background-color: teal;
    border-radius: 1em;
}

.header-description {
    text-align: center;
}
/*Moved the H2 to separate styling and position changes from its child elements*/
h2 {
    background-color: #404040;
    outline: #cecece;
    border: solid;
    padding: 5px;
    border-radius: .5em;
    position: relative;
    bottom: 50px;
    /* max-width: 250px;
    text-align: ; */
}

section h2 {
    text-align: center;
}
/*main content cards specific styling; make sure everything fits within its given space*/
section {
    /* background-color: rgb(78, 78, 119); */
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    flex: 1 0 300px;
    height: 300px;
    outline: #cecece;
    border: solid;
    block-size: fit-content;
}

/*When the screen size changes.......*/
@media screen and (min-width:992px) { 

    main {

    }
}
    